<h1>Anagram Generator</h1>
<br>
<br>

<form action="/anagram_generated" method="post">
  <label>Compare two anagrams</label>
  <input type="text" name="anagram">
  <button type="submit">Submit</button>
</form>

<br>
<br>

<form action="/anagram_generated" method="post">
  <label>Compare multiple anagrams</label>
  <input type="text" name="anagram">
  <button type="submit">Submit</button>
</form>

<br>
<br>

<form action="/anagram_generated" method="post">
  <label>Compare two "partial" anagrams</label>
  <input type="text" name="anagram">
  <button type="submit">Submit</button>
</form>
