<h1>Anagram Generator</h1>

<form action="/anagram_generated" method="post">
  <label>Please enter five words: </label>
  <input type="text" name="anagram1">
  <input type="text" name="anagram2">
  <input type="text" name="anagram3">
  <input type="text" name="anagram4">
  <input type="text" name="anagram5">
  <button type="submit">Submit</button>
</form>

<form action="/partial_anagram_generated" method="post">
  <label>Compare two "partial" anagrams</label>
  <input type="text" name="partial1">
  <input type="text" name="partial2">
  <button type="submit">Submit</button>
</form>
